body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: rgb(37, 131, 253);
    padding: 10px 20px;
}

#navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#navList li {
    margin-right: 20px;
}

#navList li.logo {
    margin-right: auto;
}

#navList li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

#navList li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

#navList li.logo img {
    height: 40px; /* Adjust the size as needed */
}

@media (max-width: 768px) {
    #navList {
        flex-direction: column;
        align-items: flex-start;
    }
    #navList li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}


.create-account-link,
.request-password-link {
  color: #007BFF;
  text-decoration: none;
}

.create-account-link:hover,
.request-password-link:hover {
  color: #0056b3;
}

